{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="title-text">О проекте</h1>
</div>
<h3>Правила ELibary</h3>
<p>Дорогие читатели! Эти требования созданы для того, чтобы защитить вас, а не чтобы ограничить, мы очень ценим вашу свободу, в том числе авторскую. Все пользователи равны между собой, потому относитесь к другим так, как хотите, чтобы относились к вам.</p>
<h4>Правила:</h4>
<ul>
    <li>Не оскорблять других людей, не разжигать конфликты на расовой, этнической и любой другой почве. Не призывать к экстремизму.</li>
    <li>Запрещено упоминания любых организаций, запрещенных на территории Российской Федерации.</li>
    <li>В связи с новым законом(нужна ссылка) о пропаганде ЛГБТ запрещены любые произведение, попадающие под этот закон.</li>
    <li>Также, в связи с поправками в законе(нужна ссылка) об иноагентах, вся их литература должна публиковаться с рейтингом 18+</li>
    <li>Запрещено распространение платного контента</li>
</ul>
<p>За нарушение любых правил вы получите предупреждение или ваш аккаунт будет заблокирован. Текст, содержащий запрещенный контент, будет скрыт, автору будет отправлено предупреждение. Если он не исправит его в течение 7 дней, то данный материал будет удален.</p>
<p>Если вы обнаружили нарушение правил, то воспользуйтесь кнопкой жалобы. За неправильное использование жалоб(спам не относящихся к сайту материалов) ваш аккаунт будет заблокирован.</p>
{% endblock content %}