{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row bg-light">
    <img class="col-5 img-thumbnail border" src="{{ book.preview.url }}" alt="картинка">

    <div class="col-7">
        <h1 class="text-center title-text">{{ book.name }}</h1>
        <hr>
        {% include './rate.html' %}
        <hr>
        <h3>Описание:</h3><p>{{ book.description }}</p>
        <hr>
        {% for tag in book.tags.all %}
        <small class="bg-light border bg-light rounded p-1">{{ tag.name }}</small>
        {% endfor %}
        <hr>
    </div>
    <div class="text-center my-3">
        <a class="btn btn-primary" href="{{ book.content.url }}"><h3>Начать читать</h3></a>
    </div>
</div>
{% endblock content %}
