{% load static %}

<div class="col-3">
    <div class="card shadow-sm">

      <img class="card-img border" src="{{ book.preview.url }}" alt="картинка">

      <div class="card-body">
        <h5 class="card-text">{{ book.name }}</h5>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a href="{{ book.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
          </div>
          <small class="text-muted small-text">Оценка</small>
        </div>
      </div>

    </div>
  </div>