{% extends 'base.html' %}

{% block content %}
<div class="w-50 mx-auto form-row">
    {% block begin_form %}
    {% endblock begin_form %}

    <h3>{{ form_title }}</h3>
    {{ form_description }}

    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            {% for error in form.non_field_errors %}
            <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>

        {% for field in form %}
        <div class="my-3">
            <div class="text-muted">{{ field.help_text }}</div>

            <div class="input-group">
                <span class="input-group-text">{{ field.label }}</span>
                {{ field }}
            </div>

            <div>
                {% for error in field.errors %}
                <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="mb-1">
            {% block end_form %}
            {% endblock end_form %}
        </div>

        <button type="submit" class="btn btn-primary">{{ button_text }}</button>
    </form>

</div>
{% endblock content %}